<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDAO">
    <insert id="insertUser">
        insert into MEMBER (userid, username, password)
        values (#{userid}, #{username}, #{password})
    </insert>
    <update id="updateUser">
        update MEMBER
        set userid=#{userid}, password=#{password} where seq=#{seq}
    </update>
    <delete id="deleteUser">
        delete from MEMBER
        where seq=#{seq}
    </delete>
    <select id="getUser" resultType="User">
        select * from MEMBER where seq=#{seq}
    </select>
    <select id="getUserList" resultType="User">
        select * from MEMBER order by seq desc
    </select>

    <!--
    <![CDATA[여기에서는 특수기호 사용 가능. <, > 등등... where 조건절에서 필요하면 일케 쓸 것.]]>
    -->
</mapper>