<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDAO">
    <insert id="insertUser">
        insert into member (userid, username, userpw)
        values (#{userid}, #{username}, #{password})
    </insert>
    <update id="updateUser">
        update member
        set userid=#{userid}, userpw=#{password} where seq=#{seq}
    </update>
    <delete id="deleteUser">
        delete from member
        where seq=#{seq}
    </delete>

    <!--for login check-->
    <select id="getUser" resultType="user">
        select userid, username from member
        where userid = #{userid} and userpw = password(#{password})
    </select>


    <select id="getUserList" resultType="user">
        select * from member order by seq desc
    </select>

    <!--
    <![CDATA[여기에서는 특수기호 사용 가능. <, > 등등... where 조건절에서 필요하면 일케 쓸 것.]]>
    -->
</mapper>